<div class="container mt-5">
  <h2>{{ isEditMode ? 'Editar' : 'Crear' }} Sándwich</h2>
  <form [formGroup]="sandwichForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control"
             [class.invalid]="sandwichForm.get('nombre')?.invalid && sandwichForm.get('nombre')?.touched">
      <div *ngIf="sandwichForm.get('nombre')?.errors && sandwichForm.get('nombre')?.touched" class="text-danger">
        <div *ngIf="sandwichForm.get('nombre')?.errors?.['required']">
          El nombre es requerido.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">descripción</label>
      <input type="text" id="descripcion" formControlName="descripcion" class="form-control"
             [class.invalid]="sandwichForm.get('descripcion')?.invalid && sandwichForm.get('descripcion')?.touched">
      <div *ngIf="sandwichForm.get('descripcion')?.errors && sandwichForm.get('descripcion')?.touched" class="text-danger">
        <div *ngIf="sandwichForm.get('descripcion')?.errors?.['required']">
          La descripcion es requerida.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Origen</label>
      <ng-select
        [items]="paises"
        [searchable]="true"
        [typeahead]="inputOrigen"
        placeholder="Selecciona una opción"
        formControlName="origenSeleccionado"
        bindLabel="nombre"
        bindValue="id"
        [class.invalid]="sandwichForm.get('origenSeleccionado')?.invalid && sandwichForm.get('origenSeleccionado')?.touched">
      </ng-select>
      <div *ngIf="sandwichForm.get('origenSeleccionado')?.errors && sandwichForm.get('origenSeleccionado')?.touched" class="text-danger">
        <div *ngIf="sandwichForm.get('origenSeleccionado')?.errors?.['required']">
          El origen es requerido.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Tipo</label>
      <ng-select
        [items]="tipos"
        [searchable]="true"
        [typeahead]="inputTipo"
        placeholder="Selecciona una opción"
        formControlName="tipoSeleccionado"
        bindLabel="nombre"
        bindValue="id"
        [class.invalid]="sandwichForm.get('tipoSeleccionado')?.invalid && sandwichForm.get('tipoSeleccionado')?.touched">
      </ng-select>
      <div *ngIf="sandwichForm.get('tipoSeleccionado')?.errors && sandwichForm.get('tipoSeleccionado')?.touched" class="text-danger">
        <div *ngIf="sandwichForm.get('tipoSeleccionado')?.errors?.['required']">
          El tipo es requerido.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Ingredientes</label>
      <ng-select
        [items]="ingredientesDisponibles"
        [multiple]="true"
        [searchable]="true"
        [typeahead]="inputIngrediente"
        placeholder="Selecciona uno o más ingredientes"
        formControlName="ingredientesSeleccionados"
        bindLabel="nombre"
        bindValue="id"
        [class.invalid]="sandwichForm.get('ingredientesSeleccionados')?.invalid && sandwichForm.get('ingredientesSeleccionados')?.touched">
      </ng-select>
      <div *ngIf="sandwichForm.get('ingredientesSeleccionados')?.errors && sandwichForm.get('ingredientesSeleccionados')?.touched" class="text-danger">
        <div *ngIf="sandwichForm.get('ingredientesSeleccionados')?.errors?.['required']">
          Debes seleccionar al menos un ingrediente.
        </div>
      </div>
    </div>

    <div formGroupName="atributos" class="mb-3 border p-3 rounded">
      <h5 class="mb-3">Atributos</h5>
      <div class="form-check">
        <input type="checkbox" id="vegetariano" formControlName="vegetariano" class="form-check-input">
        <label for="vegetariano" class="form-check-label">Vegetariano</label>
      </div>
    </div>

    <div class="mb-3">
      <label for="calorias_aproximadas" class="form-label">Calorías Aproximadas</label>
      <input type="number" id="calorias_aproximadas" formControlName="calorias_aproximadas" class="form-control"
             [class.invalid]="sandwichForm.get('calorias_aproximadas')?.invalid && sandwichForm.get('calorias_aproximadas')?.touched">
      <div *ngIf="sandwichForm.get('calorias_aproximadas')?.errors && sandwichForm.get('calorias_aproximadas')?.touched" class="text-danger">
        <div *ngIf="sandwichForm.get('calorias_aproximadas')?.errors?.['required']">
          Las calorías son requeridas.
        </div>
        <div *ngIf="sandwichForm.get('calorias_aproximadas')?.errors?.['min']">
          Deben ser un número positivo.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" id="precio" formControlName="precio" class="form-control"
             [class.invalid]="sandwichForm.get('precio')?.invalid && sandwichForm.get('precio')?.touched">
      <div *ngIf="sandwichForm.get('precio')?.errors && sandwichForm.get('precio')?.touched" class="text-danger">
        <div *ngIf="sandwichForm.get('precio')?.errors?.['required']">
          El precio es requerido.
        </div>
        <div *ngIf="sandwichForm.get('precio')?.errors?.['min']">
          Debe ser un número positivo.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="disponible" class="form-label">Disponible</label>
      <select id="disponible" formControlName="disponible" class="form-select">
        <option [ngValue]="true">Sí</option>
        <option [ngValue]="false">No</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="imagen_url" class="form-label">URL de la Imagen</label>
      <input type="url" id="imagen_url" formControlName="imagen_url" class="form-control"
             [class.invalid]="sandwichForm.get('imagen_url')?.invalid && sandwichForm.get('imagen_url')?.touched">
      <div *ngIf="sandwichForm.get('imagen_url')?.errors && sandwichForm.get('imagen_url')?.touched" class="text-danger">
        <div *ngIf="sandwichForm.get('imagen_url')?.errors?.['required']">
          La URL es requerida.
        </div>
        <div *ngIf="sandwichForm.get('imagen_url')?.errors?.['pattern']">
          Debe ser una URL válida.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success me-2">
      {{ isEditMode ? 'Guardar Cambios' : 'Crear Sándwich' }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="goBack()">Cancelar</button>
  </form>
</div>
